.achievement-grid{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:25px;


}



.achievement{


padding:35px;


background:

rgba(255,255,255,.06);


border-radius:25px;


text-align:center;


border:

1px solid rgba(255,255,255,.1);


transition:.3s;


}



.achievement:hover{


transform:

translateY(-10px);


}



.achievement .icon{


font-size:50px;


}



.achievement span{


display:inline-block;


margin-top:15px;


padding:

8px 20px;


background:

rgba(0,200,255,.2);


border-radius:50px;


color:#00c8ff;


}